In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv')

In [6]:
#head
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
#tail

credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
# checking the number of missing values 
credit_card_data.isnull().sum().sum()

0

In [12]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

#This data is highly imbalanced

0    284315
1       492
Name: Class, dtype: int64

In [17]:
#seperating the data
fraud = credit_card_data[credit_card_data.Class==1]
clean = credit_card_data[credit_card_data.Class==0]

In [23]:
fraud['Class'].value_counts()

1    492
Name: Class, dtype: int64

In [22]:
clean['Class'].value_counts()

0    284315
Name: Class, dtype: int64

In [24]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling

In [27]:
legit_sample = clean.sample(n=492)

In [28]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [30]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
141017,84081.0,-1.587435,1.348056,0.846815,2.721003,-1.074836,1.007622,1.333805,0.192156,-1.795757,...,-0.108682,0.194620,0.269325,0.050367,-0.085522,0.132454,0.189947,-0.061558,276.69,0
91851,63654.0,-4.883327,-6.110344,1.313198,1.453478,6.203022,-5.562701,-3.636599,0.401356,0.442138,...,0.634432,-0.076547,1.191681,0.718352,-0.225150,0.255367,-0.133263,0.303217,0.00,0
212461,138866.0,1.961677,-0.521142,0.097927,0.500338,-1.139225,-0.542325,-0.898614,0.084392,1.737997,...,0.056498,0.311506,0.286981,0.003938,-0.426217,-0.412922,0.051032,-0.028460,5.68,0
195489,131082.0,2.327157,-1.113027,-2.426918,-1.477193,-0.484397,-1.837634,0.052352,-0.660640,-1.943748,...,0.131053,0.812683,-0.159270,0.018387,0.587866,0.304679,-0.080483,-0.084754,49.00,0
114134,73347.0,-1.636939,0.451601,0.959941,-1.141485,-0.784225,-0.057724,0.901742,0.419654,0.286775,...,-0.371063,-1.006875,0.172852,-0.456491,0.457766,0.829501,0.031487,-0.044392,182.97,0

Splitting the data into Features & Targets

In [31]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [32]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
141017,84081.0,-1.587435,1.348056,0.846815,2.721003,-1.074836,1.007622,1.333805,0.192156,-1.795757,...,-0.279596,-0.108682,0.194620,0.269325,0.050367,-0.085522,0.132454,0.189947,-0.061558,276.69
91851,63654.0,-4.883327,-6.110344,1.313198,1.453478,6.203022,-5.562701,-3.636599,0.401356,0.442138,...,1.452051,0.634432,-0.076547,1.191681,0.718352,-0.225150,0.255367,-0.133263,0.303217,0.00
212461,138866.0,1.961677,-0.521142,0.097927,0.500338,-1.139225,-0.542325,-0.898614,0.084392,1.737997,...,-0.291042,0.056498,0.311506,0.286981,0.003938,-0.426217,-0.412922,0.051032,-0.028460,5.68
195489,131082.0,2.327157,-1.113027,-2.426918,-1.477193,-0.484397,-1.837634,0.052352,-0.660640,-1.943748,...,-0.485151,0.131053,0.812683,-0.159270,0.018387,0.587866,0.304679,-0.080483,-0.084754,49.00
114134,73347.0,-1.636939,0.451601,0.959941,-1.141485,-0.784225,-0.057724,0.901742,0.419654,0.286775,...,-0.154729,-0.371063,-1.006875,0.172852,-0.456491,0.457766,0.829501,0.031487,-0.044392,182.97

In [33]:
Y.head()

141017    0
91851     0
212461    0
195489    0
114134    0
Name: Class, dtype: int64

Splitting the data

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [35]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [36]:
#Training the data

In [37]:
model = LogisticRegression()

In [38]:
model.fit(X_train, Y_train)

LogisticRegression()

In [39]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [40]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9390088945362135

In [41]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [42]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9289340101522843